<a href="https://colab.research.google.com/github/codeforgirls-sa/ds/blob/master/unit3/titanic-survivors/challenge_titanic_survivors_c.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.tree import export_graphviz

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

#About the Dataset

The titanic. csv file contains data for 887 of the real Titanic passengers. The columns describe different attributes about the person including whether they survived...

Goal: predict whether the person will survive or not.

sibsp # of siblings / spouses aboard the Titanic
parch  # of parents / children aboard the Titanic
Fare # Passenger fare

In [ ]:
!wget https://raw.githubusercontent.com/codeforgirls-sa/ds/master/unit3/titanic-survivors/titanic.csv

dataset = pd.read_csv('titanic.csv')

--2020-06-22 12:53:02--  https://raw.githubusercontent.com/codeforgirls-sa/ds/master/unit3/titanic-survivors/titanic.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 45774 (45K) [text/plain]
Saving to: ‘titanic.csv’

titanic.csv         100%[===================>]  44.70K  --.-KB/s    in 0.02s

2020-06-22 12:53:02 (1.76 MB/s) - ‘titanic.csv’ saved [45774/45774]

In [ ]:
dataset.head()

   PassengerId  Pclass  ...     Fare  Survived
0            1       3  ...   7.2500         0
1            2       1  ...  71.2833         1
2            3       3  ...   7.9250         1
3            4       1  ...  53.1000         1
4            5       3  ...   8.0500         0

[5 rows x 8 columns]

In [ ]:
# TODO: complete and predict whether the person will survive or not.